{{ define "main" }}
<section>
  <header class="major">
    <h3> List Template </h3>
    <h2>{{ .Title }}</h2>
  </header>
  <div class="posts">
    {{ range .Pages }}
    <article> 

      <a href="#" class="image"><img src="{{ .Params.src }}" alt="" /></a>

      {{/* $test := .Params.src }}
      {{ printf $test }}
    

      {{/* TODO: change image phat */}}

      <h3> <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a> </h3>
        <p>{{ .Summary }}</p>
          <ul class="actions">
            <li><a href="{{ .RelPermalink }}" class="button">Rea More</a></li>
          </ul>
        </article>
      {{ end }}
      </div>
    </section>

  {{ end }}