{{ define "main" }}
<div class="inner">
  <p> List Template </p>
  <section>
    <header class="major">
      <h2>{{ .Title }}</h2>
    </header>
    <div class="posts">
      {{ range .Pages }}
      <article> 
        
        <a href="#" class="image"><img src="{{ .Params.src }}" alt="" /></a>
        
        
        {{/*$test := .Params.src }}
        {{ printf $test }}
        
        {{/* TODO: remove test variable*/}}
        
        
        <h3> <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a> </h3>
        <p>{{ .Summary }}</p>
        <ul class="actions">
          <li><a href="{{ .RelPermalink }}" class="button">Rea More</a></li>
        </ul>
      </article>
      {{ end }}
    </div>
  </section>
</div>
  
  {{ end }}