{{ define "main" }}
<section>
  <header class="main">
    <h3>Single Template</h3>
    <h1>{{ .Title }}</h1>
  </header>
  <hr class="major" />
  
  {{/* TODO: fix form where the image is render  */}}
  <span class="image main"><img src="images/pic11.jpg" alt="" /></span> 

  </p> {{ .Content }} <p>

  <hr class="major" />
  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }} {{
  $dateHuman := .Date | time.Format ":date_long" }}
  <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
</section>
{{ end }}
